@charset "UTF-8";


/********************************************************
 * アクセス ページ
 ********************************************************/

/* GoogleMap */
.googleMap {
	height: 350px;
}
.googleMap iframe {
	width: 100%;
	height: 100%;

	border: 0;
	background-color: transparent;
	overflow: hidden;
}

/* dl アクセス内 */
.howToAccess p + p {
	margin-top: 10px;
}
.timeRequired {
	margin-left: 20px;
}


/********************************************************
 * タブレット版
 ********************************************************/
 @media screen and (min-width: 768px) {
	
}


/********************************************************
 * PC版
 ********************************************************/
@media screen and (min-width: 1024px) {

}