@charset "UTF-8";


/********************************************************
 * お知らせ ページ
 ********************************************************/

/* outline */
#news ul {
	margin-top: 0;
}


/* お知らせタブ　切り替え */
.tabs {	/*タブ切り替え全体のスタイル*/
	margin-top: 150px;
	font-size: 0;
}


/*タブのスタイル*/
.tab_item {
	display: inline-block;
	width: calc(100%/4);

	padding: 30px 0;
	background-color: #999;

	text-align: center;
	font-size: 1.8rem;

	transition:  .3s ease-out;
}
.tab_item:hover {
	opacity: .7;
}


/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}


/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;

  overflow: hidden;
	font-size: 1.6rem;
}
.tab_content_description {
	padding-top: 50px;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#tnews:checked ~ #news_content,
#event:checked ~ #event_content,
#recruit:checked ~ #recruit_content
{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
	background-color: #a60a0a;
	color: #fff;
}


/* SNS共通 */
.sns__wrap section + section {
	margin-top: 0;
}
.sns__wrap {
	display: flex;
	flex-direction: column;
}


/* Facebook */
.facebook {
	width: 100%;
}
.facebook__posts {
	display: flex;
	flex-direction: column;
}
.facebook iframe{
	margin-top: 20px;
}


/* Twitter */
.twitter-timeline {
	max-height: 500px;
}


/********************************************************
 * PC版
 ********************************************************/

@media screen and (min-width: 1024px) {

	/* お知らせ 一覧 */
	.news__list__item {
		flex-wrap: nowrap;
	}
	.news__list__item a {
		padding-top: 0;
		max-width: 79%;
	}
	.genre {
		margin-right: 22px;
	}

	/* SNS */
	.sns__wrap {
		flex-direction: row;
	}

	.facebook, .twitter { 
		width: 50%;
	}

	.facebook__posts, .twitter__posts {
		margin: 0 auto;
		margin-top: 80px;
		width: 90%;
	}
}